html, body, .app{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ttt-board{
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}


.ttt-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2em;
    font-weight: bold;
}

.ttt-cnt, .ttt-cnt>*{
    text-align: center;
}

.ttt-turn{
    font-size: 2em;
}

.ttt-grid{
    border: 1px solid black;
    grid-area: board-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0;
    justify-items: stretch;
    align-items: stretch;
    height: 20rem;
    width: 20rem;
}

.ttt-cell{
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4em;
    font-weight: bold;
}

.ttt-label{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 1.5em;
}